    /*------------------------------------------------------------------
  	[Promo Block]
------------------------------------------------------------------*/
    
    .promo-block {
        position: relative;
        z-index: 1;
        text-align: center;
        background: url(../img/banner.png) no-repeat;
        background-size: cover;
        background-position: center;
        padding: 300px 0 200px;
        @media(max-width: $screen-sm-min) {
            padding: 150px 0 100px;
        }
        &:before {
            @include position(absolute, $top: 0, $left: 0);
            @include size(100%);
            z-index: -1;
            @include bg-opacity($color-heading, .05);
            content: " ";
        }
        .promo-block-title {
            @include font($size: 46px);
            color: #000;
            @media (max-width: $screen-sm-min) {
                @include font($size: 30px);
            }
        }
        .promo-block-text {
            @include font($size: 16px);
            color: #000;
            text-transform: uppercase;
            font-weight: bold;
            padding: 0 100px;
            @media(max-width: $screen-sm-min) {
                padding: 0;
            }
        }
    }