/*------------------------------------------------------------------
  	[Promo Banner]
------------------------------------------------------------------*/

.promo-banner {
    position: relative;
    z-index: 1;
    text-align: center;
    background: url(../img/women.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100%;
    &:before {
        @include position(absolute, $top: 0, $left: 0);
        @include size(100%);
        z-index: -1;
        @include bg-opacity($color-heading, .7);
        content: " ";
    }
    .promo-banner-title {
        @include font($size: 50px);
        color: $color-white;
        @media (max-width: $screen-sm-min) {
            @include font($size: 30px);
        }
    }
    .promo-banner-text {
        color: $color-white;
        opacity: .8;
    }
}