/*------------------------------------------------------------------
  	[Service]
------------------------------------------------------------------*/

.service {
    background: $color-white;
    padding: 50px;
    text-align: center;
    .service-element,
    .service-info {
        @include translate3d(0, 0, 0);
        @include cubic-transition($delay: 0, $duration: 300ms, $property: (all));
        &.center {
            @include translate3d(0, 50%, 0);
            display: initial;
        }
    }
    .service-icon {
        display: block;
        @include font($size: 30px);
        color: $color-link-hover;
        margin-bottom: 30px;
    }
}